extends layout

block content
  #main
     h1 
      center LatentView Analytics
     p  
      center #{title}
      style.
       body {
       
       background-size: 1400px 850px;
       background-repeat: no-repeat;
       padding-top: 40px;
            }
      body(background='images/img3.jpg')
      p
      //img(src='images/programming.gif', alt='Computer man', style='width:48px;height:48px;')
      


     
